[submodule "architecture"]
	path = architecture
	url = https://git.code.tencent.com/coding_hnist/123.git
[submodule "javaEE_SSM"]
	path = javaEE_SSM
	url = https://github.com/lvkee/javaEE_SSM.git
[submodule "lvkee.github.io"]
	path = lvkee.github.io
	url = https://github.com/lvkee/lvkee.github.io.git
